@mixin flexRow(
  $align: flex-start,
  $justify: flex-start,
  $gap: 0,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: row;
  flex-wrap: $wrap;
  @if $gap != 0 {
    gap: #{$gap}rem;
  }
}

@mixin flexColumn(
  $align: flex-start,
  $justify: flex-start,
  $gap: 0,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: column;
  flex-wrap: $wrap;
  @if $gap != 0 {
    gap: #{$gap}rem;
  }
}


