$color-neutral-200: #E9F2FF;
$color-neutral-150: #1B202B;
$color-neutral-100: #252b3a;
$color-neutral-50: #2f3649;

$color-neutral-border-150: #3a4255;

$color-neutral-text-0: #ffffff;
$color-neutral-text-100: #a8b2c3;

$color-primary-200: #0066ff;
$color-primary-150: #3385ff;

$color-danger-200: #ff6b6b;
$color-danger-150: #ff8e8e;


