@import './reset';
@import './colors';
@import './mixins/flex';
@import './mixins/typography';
@import './mixins/effects';

body {
  @include textBase();
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  background: $color-neutral-200;
  color: $color-neutral-text-0;
}

